In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [2]:
Atletas_Eventos_df = pd.read_csv("athlete_events.csv")
Regiones_df = pd.read_csv("noc_regions.csv")

In [7]:
Summer_Games=Atletas_Eventos_df[Atletas_Eventos_df['Season']=='Summer']

In [8]:
Winter_Games=Atletas_Eventos_df[Atletas_Eventos_df['Season']=='Winter']

Beyond Descriptive Stats

In [9]:
#Summer Olympics:
summer_medal_count = pysqldf('''
                         SELECT
                             Year,
                             COUNT(*) AS total_count,
                             SUM(CASE
                                   WHEN Medal IS NOT NULL THEN 1 ELSE 0
                                 END) AS medal_count,
                             SUM(CASE
                                   WHEN Medal = "Gold" THEN 1 ELSE 0
                                 END) AS gold_count,
                             SUM(CASE
                                   WHEN Medal = "Silver" THEN 1 ELSE 0
                                 END) AS silver_count,
                             SUM(CASE
                                   WHEN Medal = "Bronze" THEN 1 ELSE 0
                                 END) AS bronze_count
                             FROM
                               Summer_Games
                             GROUP BY
                               Year 
                                   ''')

In [10]:
#Winter Olympics:
winter_medal_count = pysqldf('''
                         SELECT
                             Year,
                             COUNT(*) AS total_count,
                             SUM(CASE
                                   WHEN Medal IS NOT NULL THEN 1 ELSE 0
                                 END) AS medal_count,
                             SUM(CASE
                                   WHEN Medal = "Gold" THEN 1 ELSE 0
                                 END) AS gold_count,
                             SUM(CASE
                                   WHEN Medal = "Silver" THEN 1 ELSE 0
                                 END) AS silver_count,
                             SUM(CASE
                                   WHEN Medal = "Bronze" THEN 1 ELSE 0
                                 END) AS bronze_count
                             FROM
                               Winter_Games
                             GROUP BY
                               Year 
                                   ''')

ItÂ´s neccesary created two tables to count the total number of medals in the winter and summer olympics.

In [11]:
print(summer_medal_count.head())

   Year  total_count  medal_count  gold_count  silver_count  bronze_count
0  1896          380          143          62            43            38
1  1900         1936          604         201           228           175
2  1904         1301          486         173           163           150
3  1906         1733          458         157           156           145
4  1908         3101          831         294           281           256

In [12]:
print(winter_medal_count.head())

   Year  total_count  medal_count  gold_count  silver_count  bronze_count
0  1924          460          130          55            38            37
1  1928          582           89          30            28            31
2  1932          352           92          32            32            28
3  1936          895          108          36            37            35
4  1948         1075          135          41            48            46

In [13]:
print(summer_medal_count)

    Year  total_count  medal_count  gold_count  silver_count  bronze_count
0   1896          380          143          62            43            38
1   1900         1936          604         201           228           175
2   1904         1301          486         173           163           150
3   1906         1733          458         157           156           145
4   1908         3101          831         294           281           256
5   1912         4040          941         326           315           300
6   1920         4292         1308         493           448           367
7   1924         5233          832         277           281           274
8   1928         4992          734         245           239           250
9   1932         2969          647         229           214           204
10  1936         6506          917         312           310           295
11  1948         6405          852         289           284           279
12  1952         8270          897         306           291           300
13  1956         5127          893         302           293           298
14  1960         8119          911         309           294           308
15  1964         7702         1029         347           339           343
16  1968         8588         1057         359           340           358
17  1972        10304         1215         404           392           419
18  1976         8641         1320         438           434           448
19  1980         7191         1384         457           458           469
20  1984         9454         1476         497           477           502
21  1988        12037         1582         520           513           549
22  1992        12977         1712         559           549           604
23  1996        13780         1842         608           605           629
24  2000        13821         2004         663           661           680
25  2004        13443         2001         664           660           677
26  2008        13602         2048         671           667           710
27  2012        12920         1941         632           630           679
28  2016        13688         2023         665           655           703

 Correlation coefficient between the total number of medals in the Winter and Summer Olympics

In [14]:
summer_medal_count_new = summer_medal_count[7:]

In [15]:
print(summer_medal_count_new)

    Year  total_count  medal_count  gold_count  silver_count  bronze_count
7   1924         5233          832         277           281           274
8   1928         4992          734         245           239           250
9   1932         2969          647         229           214           204
10  1936         6506          917         312           310           295
11  1948         6405          852         289           284           279
12  1952         8270          897         306           291           300
13  1956         5127          893         302           293           298
14  1960         8119          911         309           294           308
15  1964         7702         1029         347           339           343
16  1968         8588         1057         359           340           358
17  1972        10304         1215         404           392           419
18  1976         8641         1320         438           434           448
19  1980         7191         1384         457           458           469
20  1984         9454         1476         497           477           502
21  1988        12037         1582         520           513           549
22  1992        12977         1712         559           549           604
23  1996        13780         1842         608           605           629
24  2000        13821         2004         663           661           680
25  2004        13443         2001         664           660           677
26  2008        13602         2048         671           667           710
27  2012        12920         1941         632           630           679
28  2016        13688         2023         665           655           703